h1.title {
    color: white;
    padding: 0%;
    margin-bottom: 2%;
}

h1.title:hover {
    color: rgb(112, 38, 146);
    padding: 0%;
}

li {
    text-align: center;
}

ul {
    color: white;
    display: inline;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(112, 38, 146);
    text-decoration: none;
}

ul:hover {
    color: rgb(112, 38, 146);
    display: inline;
}

footer {
    text-align: center;
    color: white;
}

img {
    user-select: none;
}